#leaderboardTitle{
    margin-top: 30px;
    font-size: 45px;
}

.userLine{
    margin: 30px;
}

#leaderBoard{
    border: 2px black solid;
}



.horizontalLine{
    display: flex;
    border-top: 2px solid black;
}