#leaderboardTitle{
    margin: 30px 0px 30px 0px;
    font-size: 40px;
}


#leaderboard{
    display: flex;
    align-items: center;
    flex-direction: column;
}


table{
    text-align: center;
    width: 90%;
    border: 1px solid black;
    border-radius: 11px;
    border-collapse: separate;
    border-spacing: 0 0em;
    margin-bottom: 50px;
}

thead{
    display: table-header-group;
    border-color: inherit;
    border-collapse: separate;
}

td {
    border-top: 1px solid #ddd;    
}
th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }

thead th{
    color: whitesmoke;
    padding: 30px;
    background-color: blueviolet;
}

tr.row>td {
    padding: 2em;
}

.cell{
    font-size: 1.5em;
}

@media only screen and (max-width: 800px) {

    #leaderboardTitle{
        font-size: 2em;
    }
    
    thead th{
      padding: 10px;

    }
    table{
        width: 80%;
    }
    tr.row>td {
        padding: 1em;
    }
    
    .cell{
        padding: 0em;
        font-size: 1em;
    }
}

  
  @media only screen and (max-width: 400px) {
  
    #leaderboardTitle{
      font-size: 2em;
  }
  
  thead th{
    padding: 0px;

  }
  table{
      width: 20%;
  }
  tr.row>td {
      padding: 0.7em;
  }
  
  .cell{
      padding: 0em;
      font-size: 1em;
    }
  }