body {
  overflow-x: hidden;
}

#profileTitle {
  margin: 30px 0px 20px 0px;
  font-size: 60px;
}

.label {
  margin: 20px;
  font-size: 40px;
}

.ligne{
  justify-content: space-around;
  margin: 40px;
}

.logout-button{
    padding: 10px 0px;
    border-radius: 10px;
    background-color: rgba(138, 43, 226, 0.9) ;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    width: 150px;
    outline: inherit;
    border: none;
    text-decoration: none;
}

.logout-button:hover{
  cursor: pointer;
}


@media only screen and (max-width: 800px) {
  .logout-button {
    margin-bottom: 30px;
  }
  .label {
    margin: 20px 0px;
    font-size: 20px;
  }
  .ligne{
    margin: 0px;
    flex-direction: column;
  }
  #elo-ligne{
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 320px) {

  #profileTitle {
    font-size: 40px;
  }

  .logout-button {
    width: 100px;
    margin: 15px;
  }
  .label {
    font-size: 15px;
  }
  .ligne{
    margin: 0px;
    flex-direction: column;
  }

  .ligne h2{
    margin: 10px;
  }

  #bottom-line{
    margin-bottom: 0px;
  }

}
