body {
  overflow-x: hidden;
}
#main-div {
  display: none;
}

#difficulty-tag {
  font-size: 25px;
}

#categorie {
  margin: 4vh 0;
  font-size: 30px;
}

#question {
  margin-top: 7vh;
  font-size: 40px;
}

.quiz-button {
  padding: 50px 40px;
  margin: 40px;
  border-radius: 10px;
  background-color: blueviolet;
  color: whitesmoke;
  font-size: 25px;
  width: 350px;
  outline: inherit;
  border: none;
}

#next-question {
  display: none;
  margin-bottom: 20px;
  margin-top: 40px;

  padding: 15px 10px;
  border-radius: 5px;

  background-color: grey;
  color: whitesmoke;
  font-size: 20px;
  width: 200px;
  outline: inherit;
  border: none;
}

#next-question:hover {
  transition: cubic-bezier(1, 0, 0, 1) 0.1s;
  cursor: pointer;
  transform: scale(1.07);
}

.button-div {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.apply-shake {
  animation: shake 0.62s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(3px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(5px, 0, 0);
  }
}

@media only screen and (max-width: 750px) {
  #question {
    margin-top: 3vh;
    font-size: 25px;
  }

  #difficulty-tag {
    font-size: 18px;
  }
  
  #categorie {
    margin: 4vh 0;
    font-size: 20px;
  }

  .quiz-button {
    padding: 20px 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: blueviolet;
    color: whitesmoke;
    font-size: 20px;
    width: 150px;
  }
}

@media only screen and (max-width: 320px) {

  #question {
    margin-top: 3vh;
    font-size:17px;
  }

  #difficulty-tag {
    font-size: 12px;
  }
  
  #categorie {
    margin: 4vh 0;
    font-size: 15px;
  }

  .quiz-button {
    padding: 15px 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: blueviolet;
    color: whitesmoke;
    font-size: 15px;
    width: 120px;
  }

  #next-question {
    display: none;
    margin-bottom: 0px;
    margin-top: 20px;
  
    padding: 10px 10px;
    border-radius: 5px;
  
    background-color: grey;
    color: whitesmoke;
    font-size: 15px;
    width: 150px;
    outline: inherit;
    border: none;
  }

}
