@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Shizuru&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hubballi";
}

body {
  background-color: #f7f7f7;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.both-centered-parent {
  position: relative;
  height: 100vh;
}

.both-centered-child-index-button {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gif-div {
  display: block;
}

#loading-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

@media only screen and (max-width: 800px) {
  #loading-gif {
    top: 45%;

    width: 80%;
  }
}
