* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label {
  margin: 20px 200px;
  font-size: 30px;
}
